<!DOCTYPE html>
<html ng-app="xapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Test</title>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="xctrl">
    <h1>Test</h1>
    <div>
        <span>{{ x }}</span>
        <br>
        <input type="text" ng-model="x">
    </div>
    <hr>
    <h2>{{ operation }}</h2>
    <input type="text" ng-model='obj1'>
    <input type="text" ng-model='obj2'>
    <span> = {{ result }}</span>
    <br>
    <br>
    <button ng-click="operate(1)">Add</button>
    <button ng-click="operate(2)">Subt</button>
    <button ng-click="operate(3)">Multiply</button>
    <button ng-click="operate(4)">Divide</button>
</body>
</html>